


<div class="grid">
  <article>
    <header>
      <h2>
        Add an article
      </h2>
    </header>

    <form action="/insert_item" method="post" enctype="multipart/form-data">

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="color_box">
          Color
        </label>

        <input type="text" id="color_box" name="query_color">
      </div>

      <div>
        <label for="season_box">
          Season
        </label>

        <input type="text" id="season_box" name="query_season">
      </div>

      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="file" id="image_url_box" name="query_image_url">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes">
      </div>

      <button type="submit">
        Create item
      </button>
    </form>
  </article>

  
  
  <article>
    <h2>
      My Closet
    </h2>
    <ul>
      <% @list_of_items.each do |an_item| %>
        <li>
          <a href="/items/<%= an_item.id %>">
            <%= an_item.name %>
          </a>
        </li>

        <form action="/items/<%= an_item.id %>/toggle_clean" method="post" style="display: inline; margin-left: 12px;">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="patch">

          <input
            type="hidden"
            name="clean"
            value="0"
          >

          <input
            type="checkbox"
            name="clean"
            value="1"
            <%= "checked" if an_item.clean %>
            onchange="this.form.submit();"
          >

          <label>Clean</label>
        </form>

      <% end %>
    </ul>
  </article>

</div>

  
