<h1>
  Item #<%= @the_item.id %> details
</h1>

<article>
  <div>
    <a href="/items">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_item/<%= @the_item.id %>">
      Delete item
    </a>
  </div>
  <dl>
    <dt>
      User
    </dt>
    <dd>
      <%= @the_item.user_id %>
    </dd>

    <dt>
      Name
    </dt>
    <dd>
      <%= @the_item.name %>
    </dd>

    <dt>
      Category
    </dt>
    <dd>
      <%= @the_item.category %>
    </dd>

    <dt>
      Color
    </dt>
    <dd>
      <%= @the_item.color %>
    </dd>

    <dt>
      Season
    </dt>
    <dd>
      <%= @the_item.season %>
    </dd>

    <dt>
      Image url
    </dt>
    <dd>
      <img src="<%= @the_item.image_url %>" width=500>
    </dd>

    <dt>
      Notes
    </dt>
    <dd>
      <%= @the_item.notes %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_item.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_item.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit item
    </h2>
  </header>

  <form action="/modify_item/<%= @the_item.id %>"  method="post" >
    

    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" value="<%= @the_item.name %>">
    </div>

    <div>
      <label for="category_box">
        Category
      </label>

      <select id="category_box" name="query_category">
        <option value="tops" <%= "selected" if @the_item.category == "tops" %>>Tops</option>
        <option value="bottoms" <%= "selected" if @the_item.category == "bottoms" %>>Bottoms</option>
        <option value="shoes" <%= "selected" if @the_item.category == "shoes" %>>Shoes</option>
        <option value="outerwear" <%= "selected" if @the_item.category == "outerwear" %>>Outerwear</option>
        <option value="accessory" <%= "selected" if @the_item.category == "accessory" %>>Accessory</option>
      </select>
    </div>

    <div>
      <label for="color_box">
        Color
      </label>

      <input type="text" id="color_box" name="query_color" value="<%= @the_item.color %>">
    </div>

    <div>
      <label for="season_box">Season</label>

      <select id="season_box" name="query_season">
        <option value="all" <%= "selected" if @the_item.season == "all" %>>All</option>
        <option value="spring" <%= "selected" if @the_item.season == "spring" %>>Spring</option>
        <option value="summer" <%= "selected" if @the_item.season == "summer" %>>Summer</option>
        <option value="fall" <%= "selected" if @the_item.season == "fall" %>>Fall</option>
        <option value="winter" <%= "selected" if @the_item.season == "winter" %>>Winter</option>
      </select>
    </div>

    

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes" value="<%= @the_item.notes %>">
    </div>

    

    <button type="submit">
      Update item
    </button>
  </form>
</article>

<hr>
